/* CSS Global Variables   ---------NEO SANS FONT--------- */
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --bgcolor: #ccc;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
    --roundness: 7px;
}

@font-face {
    font-family: HSMFont;
    src: url("Font/HSMFont.otf") format("opentype");
}

html {
    box-sizing: border-box;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'HSMFont', sans-serif;
    color: var(--dark);
    scroll-behavior: smooth;
}

p {
    font-family: 'Raleway', sans-serif;
}

body {
    /*background: var(--bgcolor);*/
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
    border-radius: var(--roundness);
}

.btn:hover {
    background: var(--light);
    color: var(--dark);
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

#bgimg {
    background: url(img/stocklaptop.jpg);
    background-size: cover;
    background-position: center, 1px;
    background-repeat: no-repeat;    
}

/*navbar ---------------------------------- */
.navbar {
    /*font-family: Fredoka One;*/
    position: fixed;
    width: 100%;
    height: 8%;
    display: grid;
    grid-auto-flow: column;
    background-color: rgba(0,0,0,0.4);
    grid-gap: 0px;
    font-size: 120%;
    align-content: center;
}

#logo {
    display: grid;
    justify-content: start;
    align-content: center;
    padding-left: 45px;
    color: var(--light);
}

#logo img {
    max-width: 50%;
    min-width: 50%;
    min-height: 100%;
}

#links {
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap: 10px;
    padding-right: 28px;
}

#links a{
    display: block;
    text-decoration: none;
    color: var(--light);
    padding: 5px 30px;    
    border-radius: var(--roundness);
}

#links a:hover{
    background: var(--light);
    color: var(--dark);
}

#links a:active {
    background: var(--dark);
    color: var(--light);
}

/* Top Container -------------------------- */
.top-container {
    padding-bottom: 30px;
    grid-gap: 20px;
}

/* FirstBlock */
.firstblock {
    grid-area: firstblock;
    height: 93vh;
    padding: 3rem;
    padding-bottom: 0px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-left: 5rem;
}

.firstblock h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: var(--light);
}

.firstblock p {
    font-size: 3rem;
    margin-top: 0;
    color: var(--light);
}

/* About Us ------------------------------ */

.about{
    margin-top: 0px;
    min-height: 67vh;
    padding: 30px 200px;
    box-shadow: 0 1px 50px rgba(104, 104, 104, 100);
}

.about h1 {
    font-size: 3.5rem;
    padding-bottom: 60px;
    text-align: center;
}

.boxes {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
}

.box {
    background: var(--primary);
    text-align: center;
    padding: 1.7rem 2rem;
    box-shadow: var(--shadow);
}
.box h3 {
    font-size: 2.17rem;
}
.box p {
    font-size: 1.5rem;
}

/* Info ---------------------------------- */
.info {
    background: var(--primary);
    box-shadow: var(--shadow);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
}

footer {
    /*maybe delete the top margin?*/
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 0.4rem;
}

/* Media Queries --------------------------------------------------------- */
@media(max-width: 800px) {
    .firstblock {
        min-height: 400px;
    }
    .firstblock h1 {
        font-size: 2.5rem;
    }
    .firstblock p {
        font-size: 2rem;
    }
}

@media(max-width: 1300px) {
    .boxes {
        grid-template-columns: repeat(1, minmax(280px, 1fr));
    }
}

@media(max-width: 700px) {
    .top-container {
        grid-template-areas:
            'firstblock firstblock';
    }
}

@media(max-width: 500px) {
    .top-container {
        grid-template-areas:
            'firstblock';
    }
    .firstblock h1 {
        font-size: 1.5rem;
    }
    .firstblock p {
        font-size: 1rem;
    }
}